* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #000;
    --sedondary-color: #967a00;
    --tertiary-color: rgb(24, 117, 113);
}
body {
    background-color:var(--tertiary-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header {
    justify-content: space-between;
    padding : 15px 5px 10px 35px;
    background-image: url(../images/mtn.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    background-color: var(--tertiary-color);
}
header h1 {
    font-weight: bold;
    font-size: large;
    margin: 0;
    display: inline;
    color: var(--primary-color);
}
header a {
    text-decoration: none;
    color:var(--primary-color);
    font-size: xx-large;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 100px;;
}
footer h2 {
    display: inline;
    color: var(--sedondary-color);
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
section {
    padding: 80px;
}
h3 {
    display: inline;
    border: 1px  var(--primary-color);
}
.hero {
    background-image: url(../images/mtn.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    position: relative;
}
.hero h2 {
    font-size: 42px;
    margin: 0;
    display: flex;
    padding: 4px;
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    right: 35px;
    color: white;
    background-color: rgb(13, 13, 80);
    text-align: center;
}
.box-row1 img {
    background-position: center;
    display: flexbox;
}

.footer {
    display: flex;
    width: fit-content;
    color: var(--primary-color);
    position: absolute;
}

.rounded {
    width: 300px;
    margin: auto;
    text-align: center;
    font-style: oblique;
    color: var(--primary-color);
}
.rounded img {
    height: 320px;
    width: 352px;
    margin: auto;
    border-radius: 100%;
}
.box-row1 img {
    width: 100%;
    height: 100%;
}
.box-row1 {
    display: flex;
    flex-wrap: wrap;
    border: 3px var(--primary-color) solid;
    flex: 1 1 33%;
}

.box-2 {
    background-image: url(../images/LED.jpeg);
    height: 250px;
    display: grid;
}
.box-3 {
    background-image: url(../images/SURF.jpeg);
    height: 250px;
}
.box-4 {
    background-image: url(../images/calculator.jpeg);
    height: 250px;
}

.box-3 img {
    height: fit-content;

}
.box-5 {
    background-image: url(../images/puzzles.jpeg);
    height: 180px;

}
.box-column {

    display: flex;
    flex-wrap: wrap;
    border: 3px var(--primary-color) solid;
}

.box-column > * {
    flex-basis: 100%;
    border: 1px solid var(--primary-color);
    flex: 1 1 33%;
    flex-wrap: wrap-reverse;
}

